MC=false
DATA=true
INPUT_SAMPLES=PhotonSamples.json
#INPUT_SAMPLES=PhotonSamplesMerged.json
PHOTON_PRESCALE_DIRECTORY=/home/zablocki/CMS/HZZ2l2nu/PhotonPrescales
ADDITIONAL_LEPTON_VETO=true
ZPT_CUT=true
TIGHT_ZMASS_CUT=true
WIDE_ZMASS_CUT=false
BTAG_CUT=true
DPHI_CUT=false
SIGNAL=false
SYSTEMATIC_VAR=NONE
